
/*
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

*/

.mainBtn {
    width: 160px;
    height: 160px;
    background-color: #453C67 ;
    border: 2px solid #46C2CB;
    border-radius: 22px;
    color : #F2F7A1;
    margin: 5px 5px;
    font-size: 20px;
    /* отображение*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
    /* отображение*/

}

.imglogo {
  height: 55px;
  width:  55px;
}