
.mainBtn {
    width: 160px;
    height: 160px;
    background-color: #453C67 ;
    border: 2px solid #46C2CB;
    border-radius: 22px;
    color : #F2F7A1;
    margin: 5px 5px;
    font-size: 20px;
    /* отображение*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
    /* отображение*/

}

.animeBtn {
  animation-name : animbtn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}

@keyframes animbtn {

  0% {
    flex-direction: row;
  }
  50% {
      width: 100%;
      flex-direction: row;
  }
  65%{
      width: 100%;
      flex-direction: row;
      height: 70px;
      margin: 0px 0px;
      border-top-right-radius: 0%;
      border-top-left-radius: 0%;
  }
  100%{
    width: 100%;
    flex-direction: row;
    position: fixed;
    top:0;
    height: 70px;
    margin: 0px 0px;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;

}
  
}

.imglogo {
  height: 55px;
  width:  55px;
}